@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto&family=Roboto+Mono:wght@300;400&family=Kalam&display=swap');
@import '/static/css/base_styles.css';


/* ---------------------------------------------------
    GENERAL STYLES
----------------------------------------------------- */

ul:not(.list-unstyled):not(.nav):not(.breadcrumb), ol:not(.list-unstyled):not(.nav):not(.breadcrumb) {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-position: inside;
}

pre {
  font-size: var(--main-font-size);
  font-weight: 300;
  line-height: 1.7em;
  color: var(--main-txt-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

code {
  color: var(--secondary-color);
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  font-size: var(--main-font-size);
}

a.report-select:hover {
  color: white;
}

hr {
  width: 60%;
}

.forgot-password {
  font-style: italic;
  margin-top: 10px;
}

.text-evidence {
  margin-left: 15%;
  text-align: left;
  max-width: 70%;
  word-wrap: break-word;
  line-height: 20px;
  font-family: 'Roboto Mono';
  font-weight: 300;
}

/* ---------------------------------------------------
    CUSTOM BOOTSTRAP INPUT STYLES
----------------------------------------------------- */

.form-check-label {
  cursor: pointer;
}

.form-select {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

/* Hide arrow icon in IE browsers */
.form-select::-ms-expand {
  display: none;
}

/* Hover style */
.form-select:hover {
  border-color: #888;
}

/* Focus style */
.form-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px var(--primary-color);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.form-select option {
  font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .form-select, :root:lang(ar) .form-select, :root:lang(iw) .form-select {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.form-select:disabled, .form-select[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.form-select:disabled:hover, .form-select[aria-disabled=true] {
  border-color: #aaa;
}

/* ---------------------------------------------------
    IMAGE STYLES
----------------------------------------------------- */

.dashboard-logo {
  margin: 35px;
}

.sidebar-logo {
  width: 65%;
}

.navbar-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 15px;
  right: 25px;
}

/* ---------------------------------------------------
    WYSIWYG-APPLIED STYLES
----------------------------------------------------- */

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.highlight {
  background-color: yellow;
}

/* ---------------------------------------------------
    HEADER STYLES
----------------------------------------------------- */

h1 {
  width: 100%;
  height: 125px;
  display: inline-block;
  background-color: var(--h1-font-color);
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  color: var(--h2-font-color);
  font-family: 'Lato', 'Font Awesome 5 Free', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.5em;
  margin-right: 20px
}

h3 {
  font-family: 'Lato', 'Font Awesome 5 Free', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 20px;
  font-size: 2em;
  color: var(--h3-font-color);
}

h4 {
  font-family: 'Lato', 'Font Awesome 5 Free', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.75em;
}

h6 {
  font-family: 'Lato', 'Font Awesome 5 Free', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  padding-top: 10px;
}

.clickable-link {
  cursor: pointer;
}

.copy-link:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 600;
  content: '\f0c5';
  color: #51B071;
  padding-left: 5px;
  font-size: 14px;
}

.copy-link {
  cursor: copy;
}

#scroll-button {
  display: inline-block;
  background-color: var(--button-primary-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
}

#scroll-button:hover {
  cursor: pointer;
  background-color: #333;
}

#scroll-button:active {
  background-color: #555;
}

#scroll-button::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f062';
  font-weight: 600;
  font-style: normal;
  text-rendering: auto;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

/* ---------------------------------------------------
    MODAL STYLES
----------------------------------------------------- */

#object-preview-content {
  font-style: italic;
  text-align: center;
  margin: 20px;
}

.please-wait-modal {
  border: 16px solid var(--secondary-color);
  border-top: 16px solid var(--primary-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scope-modal-dialog {
  overflow-y: initial;
}

.scope-modal-body {
  max-height: 50vh;
  overflow-y: auto;
}

/* ---------------------------------------------------
    FORM STYLES
----------------------------------------------------- */

form.newitem {
  width: 80%;
  margin: auto;
}

.form-control::placeholder {
  color: var(--primary-color);
  opacity: 0.75;
}

.form-control::-webkit-input-placeholder {
  color: var(--primary-color);
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: var(--primary-color);
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--primary-color);
}

.form-control:-ms-input-placeholder {
  color: var(--primary-color);
}

.filter-form .card-body .form-group {
  margin-bottom: 0;
}

/* ---------------------------------------------------
    FILE UPLOAD STYLES
----------------------------------------------------- */

input[type='file'] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.csvdiv {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  border: 3px dotted #bebebe;
  border-radius: 10px;
}

.csvlabel {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 400px;
}

.csvdiv.dragover {
  background-color: #aaa;
}

/* ---------------------------------------------------
    USER AVATAR STYLES
----------------------------------------------------- */

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  display: inline-block;
}

.avatar_note {
  width: 70%;
  height: 100%;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ---------------------------------------------------
    TOP BAR STYLES
----------------------------------------------------- */

.top-bar {
  background: var(--navbar-background-color);
  padding-top: 8px;
  padding-bottom: 5px;
  vertical-align: middle;
}

.report {
  border-radius: var(--button-border-radius);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-report {
  color: var(--navbar-report-selected-font-color);
  font-weight: 600;
}

.selected-report:before {
  content: '\f205' !important;
}

.js-activate-report {
  cursor: pointer;
}

.empty-report {
  color: var(--navbar-report-empty-font-color);
  background-color: var(--navbar-report-empty-background-color);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.breadcrumb {
  background: var(--navbar-breadcrumb-background-color);
  border-radius: 10px;
  margin: 0;
}

.breadcrumb>.active {
  background-color: var(--navbar-breadcrumb-background-color);
  color: var(--navbar-breadcrumb-active-color);
}

.breadcrumb li {
  display: inline;
  max-width: 285px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb a {
  background-color: var(--navbar-breadcrumb-active-background-color);
  color: var(--active-link-color);
  text-decoration: underline;
}

.current-report {
  /* max-width: 40px; */
  position: absolute;
  top: 15px;
  /* right: 25px; */
}

/* ---------------------------------------------------
    SIDEBAR STYLES
----------------------------------------------------- */

.sideheader {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: 500;
  text-align: left;
}

.search {
  position: relative;
  color: var(--search-text-color);
  font-size: 16px;
}

.search input {
  width: 80%;
  height: 32px;
  background: var(--search-input-background-color);
  border: 1px solid var(--search-text-color);
  border-radius: 5px;
  box-shadow: 0 0 3px var(--search-box-shadow), 0 10px 15px #ebebeb inset;
  text-indent: .5em;
}

.inline-search-bar {
  width: 35%;
  margin-left: 32.5%;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 2500px;
  text-align: center;
  position: relative;
}

#sidebar {
  margin-left: -250px;
  min-width: 250px;
  max-width: 250px;
  background: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  transition: all .5s ease-in-out;
  transform-origin: center left;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.sidebar-body {
  border-top-right-radius: 5px;
}

#sidebar.active {
  margin-left: 0;
  transform: none;
}

#sidebar .sidebar-header {
  min-width: 255px;
  max-width: 255px;
  min-height: 80px;
  max-height: 80px;
  background: var(--sidebar-header-background-color);
  color: var(--sidebar-header-text-color);
  border-bottom-right-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

#sidebar .sidebar-header-tab {
  position: absolute;
  top: 15px;
  right: -35px;
  z-index: 1000;
}

.square {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: var(--sidebar-header-background-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 20%;
  padding-left: 5px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
}

#sidebar .sidebar-footer {
  text-align: center;
  font-size: 0.8em;
  /* font-style: italic; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#sidebar .components {
  padding: 0;
  font-weight: 100;
}

#sidebar ul.components {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

#sidebar ul p {
  color: var(--sidebar-text-color);
  padding: 10px;
}

#sidebar ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li {
  text-align: left;
}

#sidebar ul li a:hover {
  background: var(--sidebar-hover-background-color);
}

#sidebar ul li.active>#sidebar a,
#sidebar a[aria-expanded='true'] {
  color: var(--sidebar-active-text-color);
  background: var(--sidebar-header-text-color);
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#sidebar form {
  width: 90%;
  margin: 0;
  margin-left: 5%;
  padding-bottom: 10px;
}

.sidebar-item {
  background: var(--sidebar-link-background-color);
}

a[data-toggle='collapse'] {
  position: relative;
}

.sidebar-dropdown-toggle:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: 0.5s;
}

#sidebar ul li ul {
  -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .3);
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .3);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  color: var(--sidebar-link-text-color);
}

/* ---------------------------------------------------
    CONTENT STYLES
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 5px 20px 20px;
  min-height: 100vh;
  transition: all 0.3s;
  text-align: center;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: var(--sidebar-collapse-button-color);
  cursor: pointer;
  border-radius: var(--button-border-radius);
  margin-top: 30px;
  float: left;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: var(--sidebar-collapse-button-text);
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

.content {
  text-align: center;
  margin: auto;
  font-size: 20px;
  position: relative;
  max-width: 100%;
}

.centerdiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.severity-box {
  color: #fff;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  text-align: center;
}

p.severity-box.critical {
  background-color: var(--crit-rating-color);
}

p.severity-box.high {
  background-color: var(--high-rating-color);
}

p.severity-box.medium {
  background-color: var(--med-rating-color);
}

p.severity-box.low {
  background-color: var(--low-rating-color);
}

p.severity-box.info {
  background-color: var(--info-rating-color);
}

.critical {
  color: var(--crit-rating-color);
  font-weight: 600;
}

.high {
  color: var(--high-rating-color);
  font-weight: 600;
}

.medium {
  color: var(--med-rating-color);
  font-weight: 600;
}

.low {
  color: var(--low-rating-color);
  font-weight: 600;
}

.info {
  color: var(--info-rating-color);
  font-weight: 600;
}

.informational {
  color: var(--info-rating-color);
  font-weight: 600;
}

.neutral {
  color: var(--neutral-rating-color);
  font-weight: 600;
}

.critical-background {
  background-color: var(--crit-rating-color);
  font-weight: 600;
}

.high-background {
  background-color: var(--high-rating-color);
  font-weight: 600;
}

.medium-background {
  background-color: var(--med-rating-color);
  font-weight: 600;
}

.low-background {
  background-color: var(--low-rating-color);
  font-weight: 600;
}

.info-background {
  background-color: var(--info-rating-color);
  font-weight: 600;
}

.neutral-background {
  background-color: var(--neutral-rating-color);
  font-weight: 600;
}

/* ---------------------------------------------------
    GENERAL BUTTON STYLES
----------------------------------------------------- */

.button {
  background-color: var(--button-primary-color);
  border: none;
  border-radius: var(--button-border-radius);
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--button-hover-color);
  color: #fff;
}

.delete:hover {
  background-color: var(--button-warning-color);
  color: #fff;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-primary {
  background-color: var(--button-primary-color);
  border-color: var(--button-primary-color);
}

.btn-outline-primary {
  border-color: var(--button-primary-color);
  color: var(--button-primary-color);
}

.btn-primary:hover, .btn-outline-primary:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  color: #fff;
}

.btn-primary:active, .btn-outline-primary:active {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  color: #fff;
}

.btn-primary:focus, .btn-outline-primary:focus {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  color: #fff;
}

.btn-info {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
}

.btn-info:hover {
  background-color: var(--secondary-color-fade);
  border-color: var(--secondary-color-fade);
  color: #fff;
}

/* ---------------------------------------------------
    TABLE STYLES
----------------------------------------------------- */

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-config th {
  background-color: transparent;
  color: var(--main-txt-color);
}

.table-centered {
  width: 50%;
  margin: auto;
}

.user-profile-table {
  width: 55%;
  margin-left: 30%;
  margin-top: 10px;
}

.smallCell {
  width: 1px;
  white-space: nowrap;
}

.table-note {
  text-align: justify;
}

table .clickable {
  text-decoration: underline dotted var(--clickable-underline-color);
  text-decoration-thickness: 2.5px;
}

p .clickable {
  text-decoration: underline dotted var(--clickable-underline-color);
  text-decoration-thickness: 2.5px;
}

th {
  background-color: var(--table-header-color);
  color: #fff;
}

th.severity-header {
  background-color: var(--secondary-table-header-color);
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: none;
  padding-left: 18px;
  pointer-events: none;
  opacity: 0.75;
  color: #fff;
}

th.severity-header.critical {
  background-color: var(--crit-rating-color);
}

th.severity-header.high {
  background-color: var(--high-rating-color);
}

th.severity-header.medium {
  background-color: var(--med-rating-color);
}

th.severity-header.low {
  background-color: var(--low-rating-color);
}

th.severity-header.informational {
  background-color: var(--info-rating-color);
}

.severity-header:hover {
  background-color: var(--main-bg-color);
}

tr.severity-row-placeholder>td {
  font-style: italic;
  border-bottom: none;
}

tr.severity-row-placeholder>td:hover {
  background-color: var(--main-bg-color);
}

tr.severity_row:last-child>td {
  border-bottom: none;
}

th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}

th:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

.form-spacer {
  margin: 20px;
}

th,
td {
  margin-right: 10px;
  text-align: center;
  max-width: 500px;
}

td {
  color: var(--main-txt-color);
}

.healthy {
  color: var(--healthy-color) !important;
  font-weight: 600;
  text-align: center;
}

.burned {
  color: var(--burned-color);
  font-weight: 600;
  text-align: center;
}

.project-details-table td {
  padding-top: 0;
}

/* ---------------------------------------------------
    CALENDAR STYLES
----------------------------------------------------- */

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0 !important;
}

.fc-scrollgrid > thead > tr > td,
.fc-scrollgrid > tbody > tr > td {
  padding-left: 5px;
  padding-right: 5px;
}

.calendar-user-icon .fc-event-title:before, .calendar-user-icon .fc-list-event-title:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 600;
  content: '\f2bd';
}

.calendar-exec-icon .fc-event-title:before, .calendar-exec-icon .fc-list-event-title:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 600;
  content: '\f70c';
}

.calendar-exec-complete .fc-event-title, .calendar-exec-complete .fc-list-event-title {
  text-decoration: line-through;
}

.calendar-exec-complete .fc-event-title:after, .calendar-exec-complete .fc-list-event-title:after {
  content: '\00a0: COMPLETE';
  display: inline-block;
}

.calendar-objective-icon .fc-event-title:before, .calendar-task-icon .fc-list-event-title:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 600;
  content: '\f05b';
}

.calendar-task-icon .fc-event-title:before, .calendar-task-icon .fc-list-event-title:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: 600;
  content: '\f00c';
}

.fc-list-table tbody tr th .fc-list-day-cushion {
  background-color: var(--secondary-color);
}

.fc-toolbar-title {
  font-family: 'Kalam';
}

.fc-col-header {
  width: 100% !important;
}

/* ---------------------------------------------------
    TABLE STYLES FOR TABLESORTER
----------------------------------------------------- */

tr, .table tbody+tbody {
  border: none;
}

thead th {
  background-repeat: no-repeat;
  background-position: right center;
}

thead th.none {
  padding-right: 10px;
  background-image: url(data:img/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

thead th.up {
  padding-right: 10px;
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

thead th.down {
  padding-right: 10px;
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

.tablesorter .tablesorter-header.sorter-false {
  background-image: url();
}

td p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.holdme:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f7a4';
  font-weight: 900;
  font-size: 1.5em;
  cursor: grab;
}

/* ---------------------------------------------------
    DROPDOWN MENU STYLES
----------------------------------------------------- */

.dropdown-menu-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color .3s;
  z-index: 1000;
  font-size: 2em;
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--main-txt-color);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown-menu-btn-table {
  vertical-align: middle;
  text-align: center;
  transition: background-color .3s;
  z-index: 1000;
  font-size: 1.5em;
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.dropdown-menu-btn-evidence {
  vertical-align: middle;
  text-align: center;
  transition: background-color .3s;
  z-index: 1000;
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  font-family: 'Poppins', 'Font Awesome 5 Free';
  color: var(--main-txt-color);
}

.dropdown-menu-btn-table:before {
  content: '\f013';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  color: var(--main-txt-color);
}

.dropdown-menu-btn-evidence:before {
  content: '\f013';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  color: var(--main-txt-color);
  padding-right: 5px;
}

.dropdown-info {
  background-color: var(--dropdown-button-main-color);
  color: #fff;
  cursor: help;
}

.dropdown-info:after {
  content: '\f059';
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-left: 10px;
}

.dropdown-info-dashboard {
  color: var(--burned-color);
  background-color: transparent;
  overflow-x: hidden;
}

.dropdown-info-content {
  min-width: 300px;
  padding: 5px;
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.dropdown-info-content p {
  padding: 0;
  margin: 0;
}

.dropdown-menu-btn::-moz-focus-inner,
.dropdown-menu-btn-table::-moz-focus-inner,
.dropdown-menu-btn-evidence::-moz-focus-inner {
  border: 0;
  outline: none;
}

.dropdown-menu-btn:focus,
.dropdown-menu-btn-table:focus,
.dropdown-menu-btn-evidence:focus {
  border: 0;
  outline: none;
}

.dropbtn {
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.dropbtn:before {
  content: '\f7d9';
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  vertical-align: middle;
  color: var(--primary-color);
}

.dropdown-right {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-menu {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}


.dropdown-content a {
  color: #000;
  font-size: 12px;
  padding: 8px 10px;
  text-align: left;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--dropdown-button-hover-color);
}

.dropdown:hover .dropdown-content {
  display: block;
  left: auto;
  right: 0;
}

.dropdown-right:hover .dropdown-content {
  display: block;
}

.evidence-dropdown {
  font-size: var(--main-font-size);
  font-weight: 400;
  line-height: 1.7em;
  color: var(--main-txt-color);
  background-color: transparent;
}

.evidence-dropdown:hover {
  background-color: #f5f5f5;
}

/* ---------------------------------------------------
    BOOTSTRAP TAB STYLES
----------------------------------------------------- */

.nav-tabs .nav-link.active {
  background-color: var(--primary-color);
  color: #fff;
}

.nav-tabs .nav-link {
  background-color: var(--neutral-color);
  color: #fff;
  margin: 0.25px;
  border: 0.25px solid white;
  border-radius: 7px 7px 0 0;
}

.nav-link {
  white-space: nowrap;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px !important;
  border-radius: 5px;
}

/* ---------------------------------------------------
    TAB & OTHER ICON STYLES
----------------------------------------------------- */

.tab-icon:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 600;
}

.icon:before {
  font-weight: 600;
  vertical-align: middle;
  padding-right: 10px;
  font-size: .75em;
}

.icon:after {
  font-weight: 600;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 1em;
}

th.icon {
  font-size: 1.3em;
  padding: 0;
}

.globe-icon:before {
  content: '\f0ac';
}

.phone-icon:before {
  content: '\f095';
}

.home-icon:before {
  content: '\f015';
}

.slider-icon:before {
  content: '\f1de';
}

.avatar-upload-icon:before {
  content: '\f302';
}

.folder-icon:before {
  content: '\f07c';
}

.domain-icon:before {
  content: '\f02e';
}

.minus-icon:after {
  content: '\f068';
}

.priority-icon:before {
  content: '\f12a';
  color: var(--high-rating-color);
}

.secondary-icon:before {
  content: '\f005';
  color: var(--med-rating-color);
}

.tertiary-icon:before {
  content: '\f063';
  color: var(--info-rating-color);
}

.scope-warning-icon:after {
  content: '\f071';
  color: var(--warning-color);
}

.scope-block-icon:after {
  content: '\f05e';
  color: var(--blocked-color);
}

.warning-icon:before {
  content: '\f071';
  color: var(--warning-color);
}

.planning-icon:before {
  content: '\f546';
}

.burn-icon:before {
  content: '\f06d';
  color: var(--warning-color);
}

.check-icon:before {
  content: '\f00c';
}

.clock-icon:before {
  content: '\f017';
}

.cross-icon:before {
  content: '\f00d';
}

.tz-icon:before {
  content: '\f57d';
}

.email-icon:before {
  content: '\f1fa';
}

.info-icon:before {
  content: '\f129';
}

.info-circle-icon:before {
  content: '\f05a';
  font-size: 1em;
}

.sleep-icon:before {
  content: '\f236';
}

.key-icon:before {
  content: '\f084';
}

.sync-icon:before {
  content: '\f021';
}

.aws-icon:before {
  content: '\f375';
  font-family: 'Font Awesome 5 Brands';
}

.twitter-icon:before {
  content: '\f099';
  font-family: 'Font Awesome 5 Brands';
}

.do-icon:before {
  content: '\f391';
  font-family: 'Font Awesome 5 Brands';
}

.laptop-icon:before {
  content: '\f109';
}

.slack-icon:before {
  content: '\f198';
  font-family: 'Font Awesome 5 Brands';
}

.github-icon:before {
  content: '\f113';
  font-family: 'Font Awesome 5 Brands';
}

.hash-icon:before {
  content: '\f292';
}

.notification-icon:before {
  content: '\f0f3';
}

.vt-icon:before {
  content: '\f1a0';
  font-family: 'Font Awesome 5 Brands';
}

.upload-icon:before {
  content: '\f574';
}

.guidance-icon:before {
  content: '\f277';
}

.view-icon:before {
  content: '\f06e';
}

.download-icon:before {
  content: '\f56d';
}

.back-arrow-icon:before {
  content: '\f100';
}

.skull-icon:before {
  content: '\f54c';
  color: var(--blocked-color);
}

.block-icon:before {
  content: '\f05e';
  color: var(--blocked-color);
}

.lock-icon:before {
  content: '\f023';
}

.unlock-icon:before {
  content: '\f3c1';
}

.checkout-icon:before {
  content: '\f073';
}

.power-icon:before {
  content: '\f011';
}

.history-icon:before {
  content: '\f1da';
}

.archive-icon:before {
  content: '\f187';
}

.clone-icon:before {
  content: '\f24d';
}

.edit-icon:before {
  content: '\f044';
}

.redo-icon:before {
  content: '\f01e';
}

.dice-icon:before {
  content: '\f522';
  font-size: 1.2em;
}

.add-icon:before {
  content: '\f0fe';
  font-weight: 400;
}

.sub-icon:before {
  content: '\f146';
  font-weight: 400;
}

.user-icon:before {
  content: '\f007';
}

.users-icon:before {
  content: '\f0c0';
}

.user-icon-circle:before {
  content: '\f2bd';
}

.user-icon-plus:before {
  content: '\f234';
}

.user-icon-ninja:before {
  content: '\f504';
}

.user-gear-icon:before {
  content: '\f4fe';
}

.user-role-icon:before {
  content: '\f6cf';
}

.company-icon:before {
  content: '\f1ad';
}

.run-icon:before {
  content: '\f70c';
  color: var(--healthy-color);
}

.pause-icon:before {
  content: '\f28b';
  color: var(--med-rating-color)
}

.done-icon:before {
  content: '\f058';
  color: var(--info-rating-color)
}

.trash-icon:before {
  content: '\f1f8';
  color: red;
}

.search-icon:before {
  content: '\f002';
}

.finding-icon:before {
  content: '\f5ad';
}

.attach-icon:before {
  content: '\f0c6';
}

.lg-attach-icon:before {
  content: '\f0c6';
  font-size: 20px;
}

.gear-icon:before {
  content: '\f013';
}

.gears-icon:before {
  content: '\f085';
}

.tasks-icon:before {
  content: '\f0ae';
}

.execution-icon:before {
  content: '\f70c';
}

.maintain-icon:before {
  content: '\f552';
}

.admin-icon:before {
  content: '\f7d9';
}

.login-icon:after {
  content: '\f2f6';
}

.logout-icon:after {
  content: '\f2f5';
}

.expand-btn-icon:after {
  content: '\f31e';
}

.expand-icon:before {
  content: '\f31e';
}

.calendar-icon:before {
  content: '\f133';
  font-weight: 400;
}

.import-icon:before {
  content: '\f56f';
}

.exchange-icon:before {
  content: '\f362';
}

.export-icon:before {
  content: '\f019';
}

.docs-icon:before {
  content: '\f02d';
}

.toggle-on-icon:before {
  content: '\f205';
}

.toggle-off-icon:before {
  content: '\f204';
}

.pencil-icon:before {
  content: '\f303';
}

.shield-icon:before {
  content: '\f3ed';
}

.link-icon:before {
  content: '\f0c1';
}

.ext-link-icon:before {
  content: '\f35d';
}

.server-icon:before {
  content: '\f233';
}

.list-icon:before {
  content: '\f0ca';
}

.file-icon:before {
  content: '\f15b';
}

.wireless-icon:before {
  content: '\f1eb';
}

.cloud-icon:before {
  content: '\f0c2';
}

.physical-icon:before {
  content: '\f084';
}

.network-icon:before {
  content: '\f6ff';
}

.mobile-icon:before {
  content: '\f3cd';
}

.host-icon:before {
  content: '\f109';
}

.bug-icon:before {
  content: '\f188';
}

.code-icon:before {
  content: '\f121';
}

.cloud-sync-icon:before {
  content: '\f381';
}

.heartbeat-icon:before {
  content: '\f21e';
}

.grip-icon:before {
  content: '\f7a4';
}

.signature-icon:before {
  content: '\f5b7';
}

.groups-icon:before {
  content: '\f0c0';
}

.access-icon:before {
  content: '\f509';
}

.user-edit-icon:before {
  content: '\f4ff';
}

.comment-icon:before {
  content: '\f27a';
}

.address-icon:before {
  content: '\f6ff';
}

.ol-list-icon:before {
  content: '\f0cb';
}

.help-icon:before {
  content: '\f4c4';
}

.impact-icon:before {
  content: '\f1e2';
}

.writing-icon:before {
  content: '\f5b7';
}

.route-icon:before {
  content: '\f4d7';
}

.plus-icon:before {
  content: '\f067';
  font-weight: 900;
}

.project-icon:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f542';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 600;
}

.assignment-icon:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f0c0';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 600;
}

.objective-icon:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f05b';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 600;
}

.bullseye-icon:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f140';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 600;
}

.poc-icon:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f2bb';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 600;
}

.client-icon:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f1ad';
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 600;
}

.word-btn-icon:before {
  content: '\f1c2';
  font-size: 2em;
  color: #01A6F0;
}

.word-btn {
  background-color: #01A6F0;
  padding-top: 0;
  padding-bottom: 0;
}

.word-btn:before {
  content: '\f1c2';
  color: white;
  font-size: 1.5em;
}

.pptx-btn-icon:before {
  content: '\f1c4';
  font-size: 2em;
  color: #D04423;
}

.pptx-btn {
  background-color: #D04423;
  padding-top: 0;
  padding-bottom: 0;
}

.pptx-btn:before {
  content: '\f1c4';
  color: white;
  font-size: 1.5em;
}

.excel-btn-icon:before {
  content: '\f1c3';
  font-size: 2em;
  color: #7FBC00;
}

.archive-btn-icon:before {
  content: '\f1c6';
  font-size: 2em;
  color: #FFBA01;
}

.json-btn-icon:before {
  content: '\f1c9';
  font-size: 2em;
  color: gray;
}

.report-spinner:before {
  content: '\f1ce';
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* ---------------------------------------------------
    COLLAPSIBLE SECTION STYLES
----------------------------------------------------- */

.show {
  display: block;
}

.myaccordion {
  max-width: 100%;
  margin: 10px auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}

.myaccordion>.card {
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.myaccordion .card td {
  text-align: center;
}

.myaccordion .card-header {
  background: transparent;
  border-radius: 5px;
  background-color: var(--accordion-primary-color);
  border: none;
  border-bottom: 1px solid;
  border-color: #f5f5f5;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: relative;
}

.myaccordion .fa-stack {
  font-size: 18px;
}

.myaccordion span {
  font-size: var(--main-font-size);
}

.myaccordion .btn {
  font-weight: 600;
  color: #fff;
  padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion .card-header:hover,
.myaccordion .card-header[aria-expanded=true] {
  background-color: var(--accordion-expanded-color);
}

.myaccordion .card-header:after {
  content: '\002B';
  color: #fff;
  font-weight: 600;
  float: right;
  margin-left: 5px;
}

h5 a:after {
  content: '\002B';
  color: #000;
  font-weight: 600;
  float: right;
}

h5 a[aria-expanded=true]:after {
  content: '\2212';
}

.myaccordion .card-header[aria-expanded=true]:after {
  content: '\2212';
}

.finding-card {
  text-align: justify;
}

.finding-card ul,
ol {
  text-align: left;
}

.finding-card pre {
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 10px;
  white-space: pre-wrap;
  border: 2px solid #dedede;
}

.finding-card code {
  font-size: var(--main-font-size);
  font-family: 'Courier New', Courier, monospace;
  color: var(--main-txt-color);
}

.task-card {
  height: 100%;
  padding: 1rem;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* ---------------------------------------------------
    NOTE STYLES
----------------------------------------------------- */

.profile-container {
  max-width: 550px;
}

.note-container {
  width: 70%;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  text-align: left;
  word-wrap: break-word;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.note-container::after {
  content: '';
  clear: both;
  display: table;
}

.note-container img {
  float: left;
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 10%;
}

.note-container .dropdown {
  float: left;
}

.note-container .dropdown.right {
  float: right;
}

.note-container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

/* ---------------------------------------------------
    NOTIFICATIONS
----------------------------------------------------- */

.badge {
  margin-left: 5px;
}

.severity-badge {
  font-size: 1.2em;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 1200px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

/* ---------------------------------------------------
    DASHBOARD STYLES
----------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.admin {
  --spacing: 1rem;
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 'header header''nav    main''footer footer';
}

.admin__main {
  flex: 1;
  grid-area: main;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 48rem) {
  .admin {
    --spacing: 2rem;
  }
}

.dashboard {
  --column-count: 2;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacing) * -0.5);
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);
}

.dashboard-header {
  font-family: 'Kalam', 'Font Awesome 5 Free', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  color: var(--primary-color)
}

.dashboard__item {
  flex: 1 1 50%;
  grid-column-end: span 2;
  padding: calc(var(--spacing) / 2);
}

.dashboard__item--full {
  flex-basis: 100%;
  grid-column: 1 / -1;
}

.dashboard__item--col {
  flex-basis: calc(100% / var(--column-count));
  grid-column-end: span 1;
}

@media screen and (min-width: 48rem) {
  .dashboard {
    --column-count: 4;
  }
}

@supports (display: grid) {
  .dashboard {
    margin: 0;
  }

  .dashboard__item {
    padding: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.dashboard__item>.card {
  height: 100%;
  padding: 1rem;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dashboard__item>.card td {
  border-bottom: 0;
  text-align: left;
}

/* ---------------------------------------------------
    TOAST MESSAGE STYLES
----------------------------------------------------- */

.toast {
  max-width: none;
}

#toast-container > div {
  opacity: .9;
}

#toast-container>.toast {
  background-image: none !important;
  overflow: auto;
  max-height: calc(95vh);
}

#toast-container>.toast:before {
  position: fixed;
  font-family: 'Font Awesome 5 Free';
  font-size: 24px;
  line-height: 18px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}

#toast-container>.toast-success:before {
  content: '\f00c';
  font-weight: 600;
  color: #2a562a;
}

#toast-container>.toast-success,
.toast-close-button {
  background: #d5e8d7;
  color: #2a562a;
}

#toast-container>.toast-warning:before {
  content: '\f071';
  font-weight: 600;
  color: #806620;
}

#toast-container>.toast-warning,
.toast-close-button {
  background: #fbf2d0;
  color: #806620;
}

#toast-container>.toast-error:before {
  content: '\f06a';
  font-weight: 600;
  color: #692326;
}

#toast-container>.toast-error,
.toast-close-button {
  background: #f3d8da;
  color: #692326;
}

#toast-container>.toast-info:before {
  content: '\f129';
  font-weight: 600;
  color: #51768F;
}

#toast-container>.toast-info,
.toast-close-button {
  background: #D9EDF6;
  color: #51768F;
}

/* ---------------------------------------------------
    TASK LIST STYLES
----------------------------------------------------- */

.objective-badge {
  cursor: pointer;
  font-size: var(--main-font-size);
  display: inline-block;
  width: 125px;
  z-index: 100;
}

.objective-status {
  padding-left: 20px;
}

.objective-description, .objective-description p {
  margin-top: 0;
  margin-bottom: 0;
}

.todo-nav {
  margin-top: 10px;
}

.todo-list {
  margin: 10px 0;
}

.todo-list .form-control {
  font-size: .85em;
}

.todo-list .todo-item {
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  background: #f7f7f7;
}

.todo-list.only-active .todo-item.complete {
  display: none  !important;
}

.todo-list.only-active .todo-item:not(.complete) {
  display: visible !important;
}

.todo-list.only-complete .todo-item:not(.complete) {
  display: none  !important;
}

.todo-list.only-complete .todo-item.complete {
  display: visible  !important;
}

.todo-list .todo-item.complete div.task-description {
  text-decoration: line-through;
  color: var(--main-txt-color);
  font-style: italic;
  font-weight: normal;
  font-size: .85em;
  text-align: left;
  padding-left: 27px;
}

.remove-todo-item {
  color: #ccc;
  vertical-align: middle;
}

.remove-todo-item:hover {
  color: #5f5f5f;
}

.todo-item:hover .remove-todo-item {
  visibility: visible;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  text-align: center;
  background-position: 0 -260px;
}

div.checker input, div.checker span {
  width: 15px;
  height: 15px;
}

div.button, div.button *, div.checker, div.checker *, div.radio, div.radio *, div.selector, div.selector *, div.uploader, div.uploader * {
  margin: 0;
  padding: 0;
}

div.button, div.checker, div.radio, div.selector, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.task-container .card {
  padding: 0;
  border: initial;
  background: #fff;
  border-radius: calc(.15rem - 1px);
  box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}

li[role="presentation"].active a{
  color: var(--active-link-color);
}

.task-deadline {
  text-align: center;
  font-weight: 600;
  font-size: .85em;
}

.objective-deadline {
  color: var(--primary-color);
  font-weight: 600;
}

.task-future {
  color: var(--primary-color);
}

.task-due-soon {
  color: var(--warning-color);
}

.task-imminent {
  color: var(--blocked-color);
}

.task-header {
  text-align: left;
}

.edit-todo-input {
  resize: none !important;
  box-sizing: border-box;
  max-height: 150px; /* optional, but recommended */
  min-height: 2.25rem;
  overflow-x: hidden; /* for Firefox (issue #5) */
}

.progress {
  position: relative;
  background-color: var(--neutral-color);
}

.todo-progressbar {
  background-color: var(--primary-color);
}

.todo-progressbar-title {
  position: absolute;
  text-align: center;
  line-height: 20px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
}

.expandme:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f101';
  font-weight: 900;
  font-size: 1.5em;
  cursor: pointer;
}

tr.accordion-row.open td:first-child + td + td {
  transform: rotate(90deg);
}

.accordion {
  display: none;
}

.accoridon-content {
  display: none;
}

.accordion-row.complete {
  opacity: 0.5;
  text-decoration: line-through;
}

th.priority-header {
  background-color: var(--secondary-table-header-color);
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: none;
  padding-left: 18px;
  pointer-events: none;
  opacity: 0.75;
  color: #fff;
}

tr.priority-row-placeholder>td {
  font-style: italic;
  border-bottom: none;
  opacity: 0.5;
}

th.priority-header.primary {
  background-color: var(--high-rating-color);
}

th.priority-header.primary:before {
  content: '\f12a';
}

th.priority-header.secondary {
  background-color: var(--med-rating-color);
}

th.priority-header.secondary:before {
  content: '\f005';
}

th.priority-header.tertiary {
  background-color: var(--low-rating-color);
}

th.priority-header.tertiary:before {
  content: '\f063';
}

.js-connection-status {
  font-weight: 900;
  color: var(--burned-color);
}

.js-connection-status.connected {
  color: var(--healthy-color);
}
