:root {
  --main-font: $default_font_policy$;
  --main-light-font: $default_font_color$;
  --animation-speed: $animation_speed$s;
}

/* BOX */
html {
  background: $html_background_color$;
  align-items: center;
}
.main-container {
  margin: auto;
  margin-top: $main_container_margin_top$;
  width: $main_container_width$;
}
.box_in_line {
  display: flex;
}


/*HEADER CSS */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: $header_height$;
  background: linear-gradient($header_base_gradient_orientation$, $header_base_gradient_start$, $header_base_gradient_stop$);
  border-radius: $header_base_radius_top$ $header_base_radius_top$ $header_base_radius_bottom$ $header_base_radius_bottom$;
  z-index: -1; /*pour rester en dessous des éléments*/
  opacity: 1;

  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1; /*pour rester en dessous des éléments*/
  border-radius: $header_anim_radius_top$ $header_anim_radius_top$ $header_anim_radius_bottom$ $header_anim_radius_bottom$;
  background: linear-gradient($header_anim_gradient_orientation$, $header_anim_gradient_start$, $header_anim_gradient_stop$);
  transition: opacity var(--animation-speed);
  opacity: 0;
}
header:hover::before {
  opacity: 1;
}
.logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.title {
  font-family: var(--main-font);
  text-shadow: $title_shadow_color$ 2px 2px 2px;
  color: $title_font_color$;
  font-weight: $title_font_weight$;
  font-size: clamp($title_minimum_font_size$, 4vw, $title_maximum_font_size$);
}
.categories {
  display: inline-flex;
  margin-right: $categories_margin$;
  padding: 5px 10px;
  width: $categories_width$;
  min-width: 4em;
  height: $categories_height$;

  border: $categories_border_size$ solid $categories_border_color$;
  border-radius: $categories_border_radius$;
  background: linear-gradient($categories_gratient_orientation$, $categories_gratient_start$, $categories_gratient_middle$, $categories_gratient_end$);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position var(--animation-speed);

  text-shadow: 1px 1px 0px $categories_font_shadow_color$;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: $categories_font_size$;
  color: $categories_font_color$;
  text-decoration: none;
}
.categories:hover {
  background-position: 0 0;
}


/* SEARCH BAR */
.search_bar {
  width: $search_bar_width$;
  height: $search_bar_height$;

  background: linear-gradient($search_bar_gradient_orientation$, $search_bar_gradient_start$, $search_bar_gradient_stop$);
  border-radius: $search_bar_radius$;

  align-items: center;
  padding: 10px;
}
.search_box {
  border: 2px solid $search_elem_border_color_base$;
  border-radius: $search_elem_border_radius$;
  transition-duration: var(--animation-speed);

  font-family: var(--main-font);
  font-size: $search_elem_font_size$;
}
.search_box:focus {
  border-color: $search_elem_border_color_anim$;
}
.search_input {
  height: $search_box_height$;
  width: $search_box_width$;
}
.search_label {
  color: $search_label_color$;
  font-family: var(--main-font);
  font-weight: $search_label_weight$;
  font-size: clamp(50%, 3vw, 120%);
  margin-left: auto;
  margin-right: 10px;
}
.search_sort {
  height: $search_sort_height$;
  width: $search_sort_width$;
  margin-right: 0;
}


/* FOOTER */
footer {
  position: absolute;
  top:1;
  left: 0;
  bottom: 1;
  width: 100%;
  height: $footer_height$;
  min-height: 3.2em;

  border-radius: $footer_base_radius_top$ $footer_base_radius_top$ $footer_base_radius_bottom$ $footer_base_radius_bottom$;
  background: linear-gradient($footer_base_gradient_orientation$, $footer_base_gradient_start$, $footer_base_gradient_stop$);
  z-index: -1; /*pour rester en dessous des éléments qu'il contient*/

  display: flex;
  align-items: center;

  text-indent: 1em;
  font-family: var(--main-font);
  color: $footer_font_color$;
}
footer::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
  background: linear-gradient($footer_anim_gradient_orientation$, $footer_anim_gradient_start$, $footer_anim_gradient_stop$);
  border-radius: $footer_anim_radius_top$ $footer_anim_radius_top$ $footer_anim_radius_bottom$ $footer_anim_radius_bottom$;
  transition: opacity var(--animation-speed);
  opacity: 0;
}
footer:hover::before {
  opacity: 1;
}
.footer_sentence {
  font-size: clamp(70%, 2.2vw, 120%);
  font-weight: 600;
}
.footer_img {
  margin: 10px;
  width: $feed_icon_size$;
}

/* POSTS LIST */
.post {
  background-color: $post_base_background_color$;
  border: $post_border_size$ solid $post_border_color$;
  border-radius: $post_border_radius$;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: var(--animation-speed);
}
.post:hover {
  background-color: $post_anim_background_color$;
}
.post_title {
  position: relative;
  margin-left: 1em;
  color: $post_title_color$;
  font-weight: $post_title_weight$;
  font-size: $post_title_size$;
  font-family: var(--main-font);
  text-decoration: none;
}
.post_title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: $post_title_underline_color$;
  bottom: 0;
  transform: scaleX(0);
  transition: transform var(--animation-speed) ease;
}
.post_title:hover::before {
  transform: scaleX(1);
}
.post_illustration {
  margin: 10px 20px 0px 5px;
  width: $post_illustration_size$;
  height: $post_illustration_size$;
}
.post_description {
  font-family: var(--main-font);
}
.post_metadata {
  text-align: bottom;
  float: right;

  font-family: var(--main-font);
  font-style: italic;
  font-size: $post_metadata_size$;
}


/* SPACE FOR POST DISPLAY */
.content {
  font-family: var(--main-font);
  background-color: $article_background_color$;

  border: solid;
  border-color: $article_border_color$;
  border-width: $article_border_width$;
  border-radius: $article_border_radius$;

  padding: 10px;
  margin-bottom: 10px;
}
