:root {
  --markdown-title-font: Liberation-sans;
}

h1 {
  border-bottom: solid;
  border-color: #555555;
  border-width: 1px;
  padding: 0px 10px 10px 10px;

  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-shadow: rgba(163, 163, 163, 0.75) 1px 1px 5px;
  font-size: 7vh;
  font-weight: bold;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}

hr {
  border: solid;
  border-color: #BBBBBB;
  border-width: thin;
}

img {
  display: block;
  margin-left: 5%;

  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

pre {
  margin: 10px 10px 30px 10px;
  padding: 10px;

  border-radius: 10px;
  background-color: #EEEEEE;

  text-indent: 0px;
}

table {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}
table td, table th {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 4px;
}
table thead {
  background-color: #E6E6E6;
}

blockquote {
  padding: 1px 1em;
  border-left: 4px #CCCCCC solid;
  border-radius: 5px;
  background-color: #EFEFEF;
  font-style: italic;
  color: #222222
}
