{% extends "main.html" %}
{% block content %}

    <div class="group">
        <h1>Actualités</h1>
        <!-- Start of resumed posts list -->
        {{ posts|safe }}
        <!-- End of resumed posts list -->
    </div>

{% endblock %}
