<!doctype html>
<html lang="fr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/markdown.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
<title>{{ title }}</title>

<header>
    <a href="/"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Website logo"></a>
    <a class="title" >{{ blog_name }}</a>
    <div class=box_in_line>
        {%for i in categories%}
            <a class="categories" href="/posts/{{i}}/{{i}}.html">{{ categories[i] }}</a>
        {%endfor%}
    </div>
</header>

<main class="main-container">
    {% if search_bar == True %}
    <!-- The search bar -->
    {% include "search_bar.html" %}
    <!-- search bar -->
    {% endif %}

    {% block content %}
    {% endblock %}
</main>

<footer>
    <p class="footer_sentence">{{ feed_sentence }}</p>
    <div class="group">
        {%for i in feeds%}
            <a href="{{ i[1] }}">
                <img class="footer_img" src="{{ url_for('static', filename='images/feeds/'+i[0]) }}" width="25" height="25">
            </a>
        {%endfor%}
    </div>
</footer>

</html>
