:root {
  --main-font: FreeSans;
  --main-light-font: rgb(255,255,255);
  --animation-speed: 0.7s;
}

/* BOX */
html {
  background: rgb(238,238,238);
  align-items: center;
}
.main-container {
  margin: auto;
  margin-top: 80px;
  width: 80vw;
}
.box_in_line {
  display: flex;
}


/*HEADER CSS */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 65px;
  background: linear-gradient(240deg, rgb(28,113,216), rgb(61,127,130));
  border-radius: 10px 10px 10px 10px;
  z-index: -1; /*pour rester en dessous des éléments*/
  opacity: 1;

  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}
header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1; /*pour rester en dessous des éléments*/
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(to left, rgb(26,95,180), rgb(45,103,105));
  transition: opacity var(--animation-speed);
  opacity: 0;
}
header:hover::before {
  opacity: 1;
}
.logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.title {
  font-family: var(--main-font);
  text-shadow: rgb(119,118,123) 2px 2px 2px;
  color: rgb(255,255,255);
  font-weight: 600.0;
  font-size: clamp(70%, 4vw, 170%);
}
.categories {
  display: inline-flex;
  margin-right: 7px;
  padding: 5px 10px;
  width: 6vw;
  min-width: 4em;
  height: 4vh;

  border: 1px solid rgb(26,95,180);
  border-radius: 50px;
  background: linear-gradient(120deg, rgb(229,62,83), rgb(252,179,35), rgb(229,62,83));
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position var(--animation-speed);

  text-shadow: 1px 1px 0px rgb(53,90,128);
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: ;
  color: rgb(255,255,255);
  text-decoration: none;
}
.categories:hover {
  background-position: 0 0;
}


/* SEARCH BAR */
.search_bar {
  width: 100%;
  height: 30px;

  background: linear-gradient(to right, rgb(26,95,180), rgb(53,132,228));
  border-radius: 50px;

  align-items: center;
  padding: 10px;
}
.search_box {
  border: 2px solid rgb(255,255,255);
  border-radius: 50px;
  transition-duration: var(--animation-speed);

  font-family: var(--main-font);
  font-size: 14px;
}
.search_box:focus {
  border-color: rgb(54,71,141);
}
.search_input {
  height: 100%;
  width: 25em;
}
.search_label {
  color: rgb(255,255,255);
  font-family: var(--main-font);
  font-weight: 600.0;
  font-size: clamp(50%, 3vw, 120%);
  margin-left: auto;
  margin-right: 10px;
}
.search_sort {
  height: 110%;
  width: 12em;
  margin-right: 0;
}


/* FOOTER */
footer {
  position: absolute;
  top:1;
  left: 0;
  bottom: 1;
  width: 100%;
  height: 3.2em;
  min-height: 3.2em;

  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(to top, rgb(45,103,105), rgb(76,102,139));
  z-index: -1; /*pour rester en dessous des éléments qu'il contient*/

  display: flex;
  align-items: center;

  text-indent: 1em;
  font-family: var(--main-font);
  color: rgb(255,255,255);
}
footer::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
  background: linear-gradient(to left, rgb(12,20,41), rgb(76,102,139));
  border-radius: 10px 10px 0px 0px;
  transition: opacity var(--animation-speed);
  opacity: 0;
}
footer:hover::before {
  opacity: 1;
}
.footer_sentence {
  font-size: clamp(70%, 2.2vw, 120%);
  font-weight: 600;
}
.footer_img {
  margin: 10px;
  width: $feed_icon_size$;
}

/* POSTS LIST */
.post {
  background-color: rgb(204,204,204);
  border: 1.5px solid rgb(26,95,180);
  border-radius: 0px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: var(--animation-speed);
}
.post:hover {
  background-color: rgb(246,245,244);
}
.post_title {
  position: relative;
  margin-left: 1em;
  color: rgb(0,0,0);
  font-weight: 600.0;
  font-size: 22px;
  font-family: var(--main-font);
  text-decoration: none;
}
.post_title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: rgb(198,70,0);
  bottom: 0;
  transform: scaleX(0);
  transition: transform var(--animation-speed) ease;
}
.post_title:hover::before {
  transform: scaleX(1);
}
.post_illustration {
  margin: 10px 20px 0px 5px;
  width: 96px;
  height: 96px;
}
.post_description {
  font-family: var(--main-font);
}
.post_metadata {
  text-align: bottom;
  float: right;

  font-family: var(--main-font);
  font-style: italic;
  font-size: 0.8em;
}


/* SPACE FOR POST DISPLAY */
.content {
  font-family: var(--main-font);
  background-color: rgb(255,255,255);

  border: solid;
  border-color: rgb(204,204,204);
  border-width: 1px;
  border-radius: 15px;

  padding: 10px;
  margin-bottom: 10px;
}
